@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none !important;
}
.container{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.right{
    margin-top: 80px;
}
.left{
    margin: 6px 0px 0px 130px;
}
.rectangle_card{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}
@media screen and  (max-width: 600px) {
.container{
    width: 100px;
    height: 100px;
}
.left{
    width:300px;
    position:absolute;
    top: 600px;
    margin-left: 40px;
    
}
.rectangle_card{
    width: 150px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}

}